@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply m-0 overflow-hidden bg-white antialiased;
  }
  
  #root {
    @apply w-screen h-screen;
  }
  
  canvas {
    @apply block;
  }
}

